      <!-- Side-Nav-->
<aside class="main-sidebar hidden-print ">
     <section class="sidebar" id="sidebar-scroll" style="background:transparent;background-position: center;background-repeat: no-repeat;background-size: cover; height: 656px !important;">
         <a href="index.html" class="logo"><img class="img-fluid able-logo" src="../assets/images/logo.png" alt="Theme-logo"></a>
    <!-- Sidebar Menu-->
    <ul class="sidebar-menu">
        <li class="active treeview">
            <a class="waves-effect waves-dark" href="/superadmin">
                <!-- <i class="fa fa-tachometer yellow_color" ></i> -->
                <img src="../assets/images/sidebar-icon/sidebar-1.png">
                <span> Dashboard</span>
            </a>                
        </li>

<!-- SIDEBAR LIST TAG END  -->

        <li class="treeview"><a class="waves-effect waves-dark" href="#!">
          <!-- <i class="fa fa-user green_color"></i> --> <img src="../assets/images/sidebar-icon/sidebar-2.png">
          <span>User Management</span><i class="icon-arrow-down "></i></a>
          <ul class="treeview-menu">
              <li><a class="waves-effect waves-dark" href="/superadmin/add_user"><img src="../assets/images/sidebar-icon/user-1.png"> Add User </a></li>
              <li><a class="waves-effect waves-dark" href="/superadmin/view_users"><img src="../assets/images/sidebar-icon/user-2.png"> View User </a></li>
               <li><a class="waves-effect waves-dark" href="/superadmin/user_Withdrawl_Report"><img src="../assets/images/sidebar-icon/user-3.png"> User Withdrawl Report </a></li>
            <li class="treeview"><a class="waves-effect waves-dark" href="/superadmin/User_Documents_mgmt">
             <img src="../assets/images/sidebar-icon/user-4.png">
             <span> User Documents Mgmt </span></a>
        </li>
          </ul>
      </li>

<!-- SIDEBAR LIST TAG END  -->

        <li class="treeview"><a class="waves-effect waves-dark" href="#!">
          <!-- <i class="fa fa-briefcase purple_color"></i> --> <img src="../assets/images/sidebar-icon/sidebar-3.png">
          <span> Owner Management </span><i class="icon-arrow-down "></i></a>
            <ul class="treeview-menu">
                <li><a class="waves-effect waves-dark" href="/superadmin/Owner_add_Owner"><img src="../assets/images/sidebar-icon/owner-4.png"> Add Owner </a></li>
                <li><a class="waves-effect waves-dark" href="/superadmin/Owner_view_Owner"><img src="../assets/images/sidebar-icon/owner-4.png"> View Owner </a></li>
                <li><a class="waves-effect waves-dark" href="/superadmin/Owner_Withdrawl_Report"><img src="../assets/images/sidebar-icon/owner-4.png"> Owner Withdrawl Report </a></li>
                  <li><a class="waves-effect waves-dark" href="/superadmin/owner_Documents_mgmt">
             <img src="../assets/images/sidebar-icon/owner-4.png">
             <span> Owner Documents Mgmt </span></a>
        </li>
            </ul>
        </li>

<!-- SIDEBAR LIST TAG END  -->

        <li class="treeview"><a class="waves-effect waves-dark" href="#!">
          <!-- <i class="fa fa-edit orange_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-4.png">
          <span> Report </span><i class="icon-arrow-down "></i></a>
            <ul class="treeview-menu">
            <li><a class="waves-effect waves-dark" href="/superadmin/pending_report"><img src="../assets/images/sidebar-icon/report-4.png"> 
            Pending Report </a></li>
            <li><a class="waves-effect waves-dark" href="/superadmin/report_Confirm_Report"><img src="../assets/images/sidebar-icon/report-4.png"> Confirm Report </a></li>
             <li><a class="waves-effect waves-dark" href="/superadmin/report_Ongoing_Report"><img src="../assets/images/sidebar-icon/report-4.png"> Ongoing Report </a></li>
            <li><a class="waves-effect waves-dark" href="/superadmin/report_Complete_Report"><img src="../assets/images/sidebar-icon/report-4.png"> Complete Report </a></li>
             <li><a class="waves-effect waves-dark" href="/superadmin/report_Cancel_Report"><img src="../assets/images/sidebar-icon/report-4.png"> Cancel Report </a></li>

            </ul>
        </li>
<!-- SIDEBAR LIST TAG END  -->

        <li class="treeview"><a class="waves-effect waves-dark" href="#!">
          <!-- <i class="fa fa-briefcase purple_color"></i> --> <img src="../assets/images/sidebar-icon/sidebar-3.png">
          <span> Vehical Management </span><i class="icon-arrow-down "></i></a>
            <ul class="treeview-menu">
          <li class="treeview"><a class="waves-effect waves-dark" href="/superadmin/Vehical_Category_make">
          <!-- <i class="fa fa-cubes blue2_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-6.png">
          <span> Vehical Category / Make </span> </a>
        </li>
        <li class="treeview"><a class="waves-effect waves-dark" href="/superadmin/Vehical_Model">
             <!-- <i class="fa fa-credit-card-alt purple_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-29.png">
             <span> Vehical Model </span></a>
        </li>
        <li class="treeview"><a class="waves-effect waves-dark" href="/superadmin/Vehical_Type_Vehical">
          <!-- <i class="fa fa-bandcamp yellow_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-7.png">
          <span> Vehical Type </span></a>
        </li>
        <li class="treeview"><a class="waves-effect waves-dark" href="/superadmin/Vehical_Features">
        <!-- <i class="fa fa-calendar orange_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-8.png">
        <span> Vehical Features </span></a>
        </li>
           <li class="treeview"><a class="waves-effect waves-dark" href="/superadmin/Vehical_View_Vehical">
             <!-- <i class="fa fa-car purple_color2"></i> --><img src="../assets/images/sidebar-icon/sidebar-9.png">
            <span> View Vehical </span></a>
        </li>
        <li class="treeview">
            <a class="waves-effect waves-dark" href="/superadmin/Vehial_Promotion_Details">
                <!-- <i class="fa fa-building green_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-16.png">
                <span> Vehial Sponser </span>
            </a>                
        </li>
         </ul>
        </li>
<!-- SIDEBAR LIST TAG END  -->

          <li class="treeview"><a class="waves-effect waves-dark" href="/superadmin/Create_Subadmin">
          <!-- <i class="fa fa-bandcamp yellow_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-4.png">
          <span> Create Subadmin </span></a>
        </li>
<!-- SIDEBAR LIST TAG END  -->

          <li class="treeview"><a class="waves-effect waves-dark" href="#!">
          <!-- <i class="fa fa-briefcase purple_color"></i> --> <img src="../assets/images/sidebar-icon/sidebar-3.png">
          <span> Settings </span><i class="icon-arrow-down "></i></a>
            <ul class="treeview-menu">
            <li class="treeview"><a class="waves-effect waves-dark" href="/superadmin/Country_Add_Country">
             <!-- <i class="fa fa-cogs green_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-10.png">
             <span> Add Country </span></a>
        </li>
        <li class="treeview">
            <a class="waves-effect waves-dark" href="/superadmin/Multi_Currency">
        <!-- <i class="fa fa-money purple_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-11.png">
         <span> Multi Currency </span>
            </a>                
        </li>
           <li class="treeview">
        <a class="waves-effect waves-dark" href="/superadmin/Setting_page">
        <!-- <i class="fa fa-cogs blue2_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-12.png">
         <span> General Setting </span>
            </a>                
        </li>
        <li class="treeview">
            <a class="waves-effect waves-dark" href="/superadmin/Slide_Add_App_Slider">
            <!-- <i class="fa fa-weibo blue2_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-15.png">
             <span> Add App Slider   </span>
            </a>                
        </li>
        <li class="treeview">
            <a class="waves-effect waves-dark" href="/superadmin/Video_add_Video">
            <!-- <i class="fa fa-video-camera purple_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-5.png">
         <span> Add Video </span>
            </a>                
        </li>
         </ul>
        </li>
<!-- SIDEBAR LIST TAG END  -->

           <li class="treeview"><a class="waves-effect waves-dark" href="/superadmin/Notification">
             <!-- <i class="fa fa-edit orange_color2"></i> --><img src="../assets/images/sidebar-icon/sidebar-13.png">
             <span> Notification </span></a>
        </li>
<!-- SIDEBAR LIST TAG END  -->

         <li class="treeview"><a class="waves-effect waves-dark" href="#!">
          <!-- <i class="fa fa-star orange_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-17.png">
          <span> Ratings Managements  </span><i class="icon-arrow-down "></i></a>
            <ul class="treeview-menu">
                <li><a class="waves-effect waves-dark" href="/superadmin/user_rating"><img src="../assets/images/sidebar-icon/ratings-1.png"> User Rating </a></li>
                <li><a class="waves-effect waves-dark" href="/superadmin/owner_Rating"><img src="../assets/images/sidebar-icon/ratings-2.png"> Owner Rating </a></li>
            </ul>
        </li>
<!-- SIDEBAR LIST TAG END  -->

          <li class="treeview"><a class="waves-effect waves-dark" href="#!">
          <!-- <i class="fa fa-star orange_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-15.png">
          <span> Afflications </span><i class="icon-arrow-down "></i></a>
            <ul class="treeview-menu">
            <li class="treeview"><a class="waves-effect waves-dark" href="/superadmin/Refer_Amount_Details">
             <!-- <i class="fa fa-credit-card-alt purple_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-24.png">
             <span> Afflications </span></a>
          </li>
            <li class="treeview"><a class="waves-effect waves-dark" href="/superadmin/Invitation_Amount_Details">
          <!-- <i class="fa fa-envelope blue2_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-18.png">
          <span> Invitation Amount Details </span></a>
        </li>
            <li class="treeview"><a class="waves-effect waves-dark" href="/superadmin/Deposits_Fee_Details">
             <!-- <i class="fa fa-credit-card-alt purple_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-19.png">
             <span> Deposits Fee Details </span></a>
        </li>
            </ul>
        </li>
<!-- SIDEBAR LIST TAG END  -->

         <li class="treeview"><a class="waves-effect waves-dark" href="#!">
          <!-- <i class="fa fa-edit orange_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-4.png">
          <span> Cms Setting </span><i class="icon-arrow-down "></i></a>
            <ul class="treeview-menu">
                <li class="treeview"><a class="waves-effect waves-dark" href="#!">
          <!-- <i class="fa fa-edit orange_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-20.png">
          <span> Faq </span><i class="icon-arrow-down "></i></a>
            <ul class="treeview-menu">
            <li><a class="waves-effect waves-dark" href="/superadmin/faq_user_faq"><i class="icon-arrow-right"></i> User Faq </a></li>
            <li><a class="waves-effect waves-dark" href="/superadmin/faq_owner_faq"><i class="icon-arrow-right"></i> Owner Faq </a></li>
            </ul>
        </li>
         <li class="treeview"><a class="waves-effect waves-dark" href="#!">
          <!-- <i class="fa fa-edit orange_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-21.png">
          <span> Privacy & Policy </span><i class="icon-arrow-down "></i></a>
            <ul class="treeview-menu">
            <li><a class="waves-effect waves-dark" href="/superadmin/Privacy_policy_user"><i class="icon-arrow-right"></i> User Privacy & Policy </a></li>
            <li><a class="waves-effect waves-dark" href="/superadmin/Privacy_policy_owner"><i class="icon-arrow-right"></i> Owner Privacy & Policy </a></li>
            </ul>
        </li>
           <li class="treeview"><a class="waves-effect waves-dark" href="#!">
          <!-- <i class="fa fa-edit orange_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-22.png">
          <span> Terms And Condition </span><i class="icon-arrow-down "></i></a>
            <ul class="treeview-menu">
            <li><a class="waves-effect waves-dark" href="/superadmin/Terms_Condition_user"><i class="icon-arrow-right"></i> User Terms & Condition </a></li>
            <li><a class="waves-effect waves-dark" href="/superadmin/Terms_Condition_owner"><i class="icon-arrow-right"></i> Owner Terms & Condition </a></li>
            </ul>
        </li> 
            </ul>
        </li>
<!-- SIDEBAR LIST TAG END  -->
               <li class="treeview"><a class="waves-effect waves-dark" href="/superadmin/Add_coupan_code">
             <!-- <i class="fa fa-credit-card-alt purple_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-25.png">
             <span> Add coupan code </span></a>
        </li>
<!-- SIDEBAR LIST TAG END  -->
                <li class="treeview"><a class="waves-effect waves-dark" href="#!">
          <!-- <i class="fa fa-edit orange_color"></i> --><img src="../assets/images/sidebar-icon/sidebar-23.png">
          <span> Support Call Center </span><i class="icon-arrow-down "></i></a>
            <ul class="treeview-menu">
            <li><a class="waves-effect waves-dark" href="/superadmin/Support_Inquiry"><img src="../assets/images/sidebar-icon/supports-1.png"> Inquiry </a></li>
            <li><a class="waves-effect waves-dark" href="/superadmin/Support_About"><img src="../assets/images/sidebar-icon/supports-2.png"> About </a></li>
             <li><a class="waves-effect waves-dark" href="/superadmin/Support_Contact"><img src="../assets/images/sidebar-icon/supports-3.png"> Contact Support </a></li>
            </ul>
        </li>
    </ul>
 </section>
</aside>
      <!-- Sidebar chat end-->