   <%- include('superheader.ejs'); %>

<%- include('supersidebar.ejs'); %>
      <!-- Sidebar chat end-->
      <div class="content-wrapper">
         <!-- Container-fluid starts -->
         <!-- Main content starts -->
         <div class="container-fluid">
             <div class="row ">
                <div class="col-lg-12">
                    <div class="bread-boxes">
                        <ol class="breadcrumb">
                            <li><a href="index.html"> Home </a></li>
                               <li class="active"><a href="#"> / Support Contact </a></li>
                            <!-- <li class="active"> / Add Video </li>         -->
                          </ol>
                    </div>
                </div>
                 <!--  <div class="col-lg-6">
               <div class="headings headings-boxess mt-4">
                  <div class="main-headers mt-0" style="margin-top: 0px !important;">
                    <h4> <i class="fa fa-arrow-circle-o-left yellow_color"></i>  User Withdrawl Report </h4>
                     </div>
                </div>
             </div> -->       
            </div>

            <!-- 1-3-block row start -->
            <div class="row">
               <div class="col-lg-12">
                <div class="card mb-4" style="border-top:4px solid black;">
               <div class="cards-headers py-3 px-3 d-flex flex-row align-items-center justify-content-between">
                     <div class="heads-lefts">
                  <h6 class=" font-weight-bold "><i class="fa fa-arrow-circle-o-left"></i> View Support Contact</h6>
                 </div>
                    <div class="heads-rights">
                   <a class="btn btn-success waves-effect waves-light " href="Support_add_contact.html"><i class="fa fa-user  mr-1"></i> Add Contact </a> 
                  </div>
                  </div>
                  <div class="user-form">
                     <div class="table-reponsive box">
                        <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                          <div class="row">
                          <table id="example" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="example_info">
                        <thead>
                             <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 15.0781px;">S.no</th>
                              <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 50.0781px;">Type</th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 50.0781px;">Name</th>
                                  <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 50.0781px;">Email</th>
                                  <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 50.0781px;">Subject</th>
                                  <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 50.0781px;">Message</th>
                              <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 100.156px;">Action</th>
                            </tr>
                        </thead>
                           <div class="table-responsive">
                              </div>
                              <tbody>
                                 <tr>
                                  <td>1</td>
                                  <td> User </td>
                                  <td>Daniella Gladden </td>
                                   <td>gladen.dall@msn.com </td>
                                   <td>LeadsMax.biz shutting down</td>
                                  <td>Hello, It is with sad regret that after 12 years, LeadsMax.biz is shutting down.</td>
                                  <td>
                                  <a href="#"><i class="fa fa-eye icon-1"></i></a>
                                  <a href="#"><i class="fa fa-check-square-o icon-3"></i></a>
                                  <a href="#"><i class="fa fa-times icon-4"></i></a>
                                  <a href="#"><i class="fa fa-trash icon-5"></i></a>
                             </td>
                              </tr>
                               <tr>
                                  <td>2</td>
                                   <td> User </td>
                                 <td> Company Registar</td>
                                  <td> martin.fyans1@gmail.com </td>
                                   <td>Your online property Car rental</td>
                                  <td>This will greatly impact your page rank,</td>
                                  <td>
                                  <a href="#"><i class="fa fa-eye icon-1"></i></a>
                                  <a href="#"><i class="fa fa-check-square-o icon-3"></i></a>
                                  <a href="#"><i class="fa fa-times icon-4"></i></a>
                                  <a href="#"><i class="fa fa-trash icon-5"></i></a>
                             </td>
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td> User </td>
                                  <td>Daniella Gladden </td>
                                   <td>gladen.dall@msn.com </td>
                                   <td>LeadsMax.biz shutting down</td>
                                  <td>Hello, It is with sad regret that after 12 years, LeadsMax.biz is shutting down.</td>
                                  <td>
                                  <a href="#"><i class="fa fa-eye icon-1"></i></a>
                                  <a href="#"><i class="fa fa-check-square-o icon-3"></i></a>
                                  <a href="#"><i class="fa fa-times icon-4"></i></a>
                                  <a href="#"><i class="fa fa-trash icon-5"></i></a>
                             </td>
                              </tr>
                          
                              </tbody>
                            </table>
                        </div>
                      </div>
                  </div>
                   </div>
                 </div> 
               </div>
            </div>
            <!-- 1-3-block row end -->

             <!-- row start  -->
             <div class="row">
               <div class="col-lg-12">
                 <div class="card footers">
                     <div class="card-header footer text-center">
                         © Copyright 2024 <strong><span>Car Rental </span></strong>.
                          All Rights Reserved   Designed & Developed by 
                          <a href="https://cyberimpulses.com/" target="_blank">CISS</a>
                       </div>
                  </div>
               </div>
            </div>
                <!-- ROW END -->
         </div>
         <!-- Main content ends -->
         <!-- Container-fluid ends -->
      </div>
   </div>

  <%- include('superfooter.ejs'); %>