     <%- include('superheader.ejs'); %>

<%- include('supersidebar.ejs'); %>
      <!-- Sidebar chat end-->
      <div class="content-wrapper">
         <!-- Container-fluid starts -->
         <!-- Main content starts -->
         <div class="container-fluid">
             <div class="row ">
                <div class="col-lg-12">
                    <div class="bread-boxes">
                        <ol class="breadcrumb">
                            <li><a href="index.html"> Home </a></li>
                               <!-- <li><a href="#"> / Video </a></li> -->
                            <li class="active"> / Vehical Type </li>        
                          </ol>
                    </div>
                </div>
                 <!--  <div class="col-lg-6">
               <div class="headings headings-boxess mt-4">
                  <div class="main-headers mt-0" style="margin-top: 0px !important;">
                    <h4> <i class="fa fa-arrow-circle-o-left yellow_color"></i>  User Withdrawl Report </h4>
                     </div>
                </div>
             </div> -->       
            </div>

            <!-- 1-3-block row start -->
            <div class="row pt-3">
               <div class="col-lg-12">
                <div class="card mb-4" style="border-top:4px solid black;">
                <div class="cards-headers py-3 px-3 d-flex flex-row align-items-center justify-content-between">
                     <div class="heads-lefts">
                 <a href="#">  <h6 class=" font-weight-bold "><i class="fa fa-arrow-circle-o-left yellow_color"></i> Add Vehical Type  </h6> </a>
                 </div>
                    <div class="heads-rights">
                    <!-- <a class="btn btn-success waves-effect waves-light " href="Owner_view_Owner.html"><i class="fa fa-user  mr-1"></i> View Owner   </a> -->
                  </div>
                  </div>
                  <div class="user-form">
                           <div class="form-group row users-foarms">
                                 <div class="form-group col-md-4">
                                    <i class="fa fa-indent icon-set"></i>
                                    <label for="exampleInputEmail" class="form-control-label"> Vehical  Type </label>
                                    <input type="text" class="form-control" id="exampleInputfirst" placeholder="Enter Vehical  Type">
                                 </div>
                                  <div class="form-group col-md-4">
                                            <i class="fa fa-money icon-set"></i>
                                    <label for="exampleInputEmail" class="form-control-label"> Vehical Insurance Price </label>
                                    <input type="number" class="form-control" id="exampleInputfirst" placeholder="Enter Vehical Insurance Price" style="padding: 0.4rem 2.5rem 0.4rem .75rem;">
                                 </div>
                                  <div class="form-group col-md-4">
                                    <label for="exampleInputEmail" class="form-control-label"> Vehical Currency </label>
                                    <select name="Currency" class="form-control" id="curr-Symbole">
                                       <option value="Currency">Select Currency</option>
                                       <option value="doller">Doller</option>
                                        <option value="rupees">Rupees</option>
                                    </select>
                                 </div>
                                  <div class="form-group col-md-4">
                                      <i class="fa fa-image icon-set"></i>
                                    <label for="exampleInputEmail" class="form-control-label"> Security Deposits </label>
                                    <input type="number" class="form-control" id="exampleInputfirst" placeholder="Enter  Security Deposits">
                                 </div>
                                   <div class="form-group col-md-4">
                                      <i class="fa fa-image icon-set"></i>
                                    <label for="exampleInputEmail" class="form-control-label"> Vehical  image </label>
                                    <input type="file" class="form-control" id="exampleInputfirst" placeholder="Enter Vehical  image">
                                 </div>
                                 <div class="form-group col-md-12">
                                 <button type="submit" class="btn btn-success waves-effect waves-light m-r-30">Submit</button>
                                 </div>
                           </div>
                   </div>
                 </div>
               </div>
            </div>
            <!-- 1-3-block row end -->


            <!-- 1-3-block row start -->
            <div class="row">
               <div class="col-lg-12">
                <div class="card mb-4" style="border-top:4px solid black;">
               <div class="cards-headers py-3 px-3 d-flex flex-row align-items-center justify-content-between">
                     <div class="heads-lefts">
                  <h6 class=" font-weight-bold "><i class="fa fa-arrow-circle-o-left"></i> View  Vehical Type </h6>
                 </div>
                    <div class="heads-rights">
                    <!-- <a class="btn btn-success waves-effect waves-light " href="user_addUser.html"><i class="fa fa-user  mr-1"></i> Add User  </a> -->
                  </div>
                  </div>
                  <div class="user-form">
                     <div class="table-reponsive box">
                        <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                          <div class="row">
                          <table id="example" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="example_info">
                        <thead>
                             <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 25.0781px;">S.no</th>
                                 <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 80.0781px;"> Vehical Type </th>
                              <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Gross: activate to sort column ascending" style="width: 100.922px;">Vehical Insurance Price </th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Gross: activate to sort column ascending" style="width: 100.922px;">Vehical Currency </th>
                              <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="5%: activate to sort column ascending" style="width: 0.1719px;"> VehicalImage</th>
                              <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 120.156px;">Action</th>
                            </tr>
                        </thead>
                           <div class="table-responsive">
                              </div>
                              <tbody>
                              <tr>
                                  <td>1</td>
                                 <td>Range Rover</td>
                                    <td>Rs 8,25,0000</td>
                                    <td>Doller</td>
                                    <td><a href="User_Add_image.html"><img src="assets/images/car-img.png"> </a> </td>
                                    <td><a href="#"><i class="fa fa-trash icon-5"></i> </a></td>
                              </tr>
                               <tr>
                                  <td>2</td>
                                 <td>Hyundai 56 </td>
                                    <td>Rs 8,25,0000</td>
                                     <td>Rupee</td>
                                    <td><a href="User_Add_image.html"><img src="assets/images/car-img.png"> </a> </td>
                                    <td><a href="#"><i class="fa fa-trash icon-5"></i> </a></td>
                              </tr>
                               <tr>
                                  <td>3</td>
                                 <td>Audi 825</td>
                                    <td>Rs 8,50,0000</td>
                                     <td>Doller</td>
                                    <td><a href="User_Add_image.html"><img src="assets/images/car-img.png"> </a> </td>
                                    <td><a href="#"><i class="fa fa-trash icon-5"></i> </a></td>
                              </tr>
                               <tr>
                                  <td>4</td>
                                 <td>Range Rover</td>
                                    <td>Rs 8,50,0000</td>
                                     <td>Rupee</td>
                                    <td><a href="User_Add_image.html"><img src="assets/images/car-img.png"> </a> </td>
                                    <td><a href="#"><i class="fa fa-trash icon-5"></i> </a></td>
                              </tr>
                               <tr>
                                  <td>5</td>
                                 <td>Audi 850</td>
                                    <td>Rs 8,50,0000</td>
                                     <td>Doller</td>
                                    <td><a href="User_Add_image.html"><img src="assets/images/car-img.png"> </a> </td>
                                    <td><a href="#"><i class="fa fa-trash icon-5"></i> </a></td>
                              </tr>
                          
                              </tbody>
                            </table>
                        </div>
                      </div>
                  </div>
                   </div>
                 </div> 
               </div>
            </div>
            <!-- 1-3-block row end -->

             <!-- row start  -->
             <div class="row">
               <div class="col-lg-12">
                 <div class="card footers">
                     <div class="card-header footer text-center">
                         © Copyright 2024 <strong><span>Car Rental </span></strong>.
                          All Rights Reserved   Designed & Developed by 
                          <a href="https://cyberimpulses.com/" target="_blank">CISS</a>
                       </div>
                  </div>
               </div>
            </div>
                <!-- ROW END -->
         </div>
         <!-- Main content ends -->
         <!-- Container-fluid ends -->
      </div>
   </div>

    <%- include('superfooter.ejs'); %>